.calculatrice {
    display: block; 
    background-color: fuchsia; 
    width:250px; 
    height: 300px;  
    border-radius: 20px; 
    margin: 80px auto; 
    padding: 22px;
    padding-top: 5px;
}

.calculatrice td button {  
    display: block; 
    width: 30px; 
    height: 30px;  
    font: 10px;
    margin: 8px;
}

#resultat{
    display: block; 
    background-color: ghostwhite;
    text-align: center;
    font-size: 40px;
    margin-bottom: 2px;
    height: 80px;  
    width: 200px;
    border-radius: 10px;
    margin-top: 5px;
    
    
    
}
  

